.register-container{
    margin-top: 93px;
    background-color:rgb(248, 242, 242);
}
.form-area{
    width: 500px;
    margin: auto;
    background-color: rgb(255, 255, 255);  
}
h5{
    text-align: center;
}
/* h5:before{
    content: '';
    width:  180px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 421px;
    left: 37%;
}
h5:after{
    content: '';
    width: 180px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 421px;
    right: 37%;
} */